/*reset css*/
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}
a{text-decoration: none;}
ul li{list-style-type: none;}
a:hover{
	text-decoration: none;
}
/*end reset*/
body,html{
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
	font-size: 16px;
}
#menu{
	text-transform: uppercase;
}
.navbar-expand-lg .navbar-collapse{justify-content: flex-end;}
#logo{
	color: #e4555b;
	font-weight: 800;
	font-size: 30px;
}
#logo span{color: #000;}
#menu .nav-item.nav-link.active {color: #e4555b;}
#menu .nav-item.nav-link:hover {color: #e4555b;}
/*end menu*/
h1 span{
	color: #e4555b;
}
#intro{
	width: 100%;
	height: 100%;
	background: #e9585f;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}
#intro:before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 50%;
	background: #e4555b;
}
#intro .info{
	position: relative;
	top: 150px;

}
#intro .scroll{
	position: relative;
	top: 200px;
	z-index: 3;
	cursor: pointer;
	transition: 0.4;
}
#intro .scroll:hover{
	transition: 0.4s;
	top: 180px;
}
#intro .info img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
#intro h1{
	color: #ffff;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 600;
}
#intro span{display: block;}
#intro .btn{
	width: 170px;
	height: 40px;
	background: #111111;
	color: #fbfbfb;
	border: none;
	text-transform: uppercase;
	padding-top: 10px;
}
/*end intro*/
#about-me{
	background: url(images/bg-1.png);
	background-position: center center;
	background-size:cover;
	width: 100%;
	height: 100%;
	position: relative;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
#about-me:before{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.6;
	z-index: 1;
}
#about-me .info{
	position: absolute;
	z-index: 3;

}
/*end about-me*/

#skill{
	height: 100%;
	padding-top: 100px;
}
#skill .details h1{
	font-size: 20px;
    margin-bottom: 40px;
}
#skill li{
	margin-bottom: 20px;
}
#skill .details{
	display: flex;
	align-items: center;
}
#skill img{
	width: 100%;
	height: auto;
}
#skill .block-1 i{
	margin-left: 10px;
	color: #e4555b;
}
#skill .block-2 i{
	margin-right: 10px;
	color: #e4555b;
}
/*end skill*/

/*contact*/
#contact{
	background: #252525;
	color: #fff;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
#contact h1 {
    margin-bottom: 50px;
}
#contact h2{margin-bottom: 50px;}
#contact .details{
	padding: 0px 0px 0px 50px;
}
#contact .info{
	display: flex;
	margin-bottom: 20px;
}
.icons {
    width: 30px;
    height: 30px;
    background: #e4555b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.txt {
    display: flex;
    align-items: center;
}
/*end contact*/

/*responsive*/
@media all and (max-width: 768px) {
	.navbar-expand-lg .navbar-nav .nav-link {
    padding: 7px 24px;
    border-bottom: 1px dashed;
    text-align: center;
    text-transform: uppercase;
	}
}

@media all and (max-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
    padding: 7px 24px;
    border-bottom: 1px dashed;
    text-align: center;
    text-transform: uppercase;
	}
}


/*end responsive*/